*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
body{
    background-color: rgb(231, 225, 231);
    

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;

    background: url(flowers\ 5.jpeg);
    
    background-position: center;
    background-repeat: center;
    background-size: cover;
}